PORT=3001
CORS_ORIGIN=http://localhost:5173

SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrongPassword!123
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=tcc
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_SERVER_CERT=true
